/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region class utilities */

.container {
  width: 95%;
  /* max-width: 480px;*/
  margin: auto;
}

:root {
  --header-bg: url("./img/wall.png");
  --main-bg: url("./img/cork.png");
}

.d-flex {
  display: flex;
}

img {
  width: 260px;
  height: 260px;
}

/* #endregion class utilities */

/* header */
header {
  background-image: var(--header-bg);
  height: 150px; /*l'altezza è sempre uguale*/
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 2rem;

  /*eventualemnte potrebbe essere una classe da portare fuori dopo vediamo*/
  .text-center {
    justify-content: center;
  }

  h1 {
    padding-top: 25px;
  }
}

/* main  */
main {
  background-image: var(--main-bg);
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-style: italic;
  padding-top: 100px;
}

/*Griglia*/

.card {
  width: 100%;
  height: auto;
  padding-top: 18px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.row {
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.bg-white {
  background-color: #ffffff;
}
.col-12 {
  width: 100%;
  max-width: 300px;
}

/*Medium breakpoint*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  .card {
    width: 100%;
  }
  .col-sm-6 {
    width: 50%;
  }
}

/*large breakpoint*/
@media screen and (min-width: 992px) {
  .card {
    width: 100%;
  }

  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }
}

/*1244 funziona tutto bene :(*/
