/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid;
}

/* #region class utilities */

.container {
  width: 95%;
  max-width: 480px;
  margin: auto;
}

:root {
  --header-bg: url("./img/wall.png");
  --main-bg: url("./img/cork.png");
}

.d-flex {
  display: flex;
}

img {
  width: 260px;
  height: 260px;
}

/* #endregion class utilities */

/* header */
header {
  background-image: var(--header-bg);
  height: 150px; /*l'altezza è sempre uguale*/
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 2rem;

  /*eventualemnte potrebbe essere una classe da portare fuori dopo vediamo*/
  .text-center {
    justify-content: center;
  }
}

/* main non mi fa vedere l'immagine non so perchè */
main {
  background-image: var(--main-bg);
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;

  font-style: italic;
}

/*Griglia*/

.card {
  width: auto;
  height: auto;
  background-color: #ffffff;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.row {
  flex-wrap: wrap;
  gap: 10px;
}

.col-12 {
  width: 100%;
}

/*Medium breakpoint*/
@media screen and (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
}

/*large breakpoint*/
@media screen and (min-width: 992px) {
  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }
}
