/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region class utilities */

.d-none {
  display: none; /* overlay */
}

.container {
  width: 95%;
  /* max-width: 480px;*/
  margin: auto;
}

:root {
  --header-bg: url("./img/wall.png");
  --main-bg: url("./img/cork.png");
}

.d-flex {
  display: flex;
}

.img-style {
  width: 260px;
}

/* #endregion class utilities */

/* header */
header {
  background-image: var(--header-bg);
  height: 150px; /*l'altezza è sempre uguale*/
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 2rem;

  /*eventualemnte potrebbe essere una classe da portare fuori dopo vediamo*/
  .text-center {
    justify-content: center;
  }

  h1 {
    padding-top: 25px;
  }
}

/* main  */
main {
  background-image: var(--main-bg);
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-style: italic;
  padding-top: 100px;
}

/*Griglia*/

.card {
  width: 100%;
  height: auto;
  padding-top: 18px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.row {
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.bg-white {
  background-color: #ffffff;
}
.col-12 {
  width: 100%;
  max-width: 300px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */

  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

  img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
  }
  button {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
}

/*Medium breakpoint*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  .card {
    width: 100%;
  }
  .col-sm-6 {
    width: 50%;
  }
}

/*large breakpoint*/
@media screen and (min-width: 992px) {
  .card {
    width: 100%;
  }

  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }
}

/*1244 funziona tutto bene :(*/
